In [1]:
import sys
import os
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
project_root = os.path.dirname(os.getcwd())
if project_root not in sys.path:
	sys.path.insert(0, project_root)

from src.data import (strategie_multivarie,
					  strategie_analyses,
					  strategie_bivarie,
					  strategie_univarie,
					  strategie_feature)

In [2]:
# build a path relative to the notebook folder (notesbooks -> project root)
project_root = os.path.dirname(os.getcwd())  # parent of notesbooks
candidate = os.path.join(project_root, 'data', 'interim', 'titanic_pre_univarie.csv')

# if the candidate does not exist, search the project tree for the file
if not os.path.exists(candidate):
	found = None
	for root, _, files in os.walk(project_root):
		if 'titanic_pre_univarie.csv' in files:
			found = os.path.join(root, 'titanic_pre_univarie.csv')
			break
	if found:
		candidate = found
	else:
		raise FileNotFoundError(f"dfall.csv not found. Searched: {candidate} and project tree under {project_root}")

# load the dataframe
df = pd.read_csv(candidate)
print(f"Loaded df from: {candidate}")

Loaded df from: c:\Users\hp\Desktop\end_to_end_mlops\data\interim\titanic_pre_univarie.csv

In [3]:
df.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age_quantile,Fare_quantile
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1.0,0,A/5 21171,7.2500,B96 B98,S,-0.695859,-1.373288
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1.0,0,PC 17599,65.6344,C85,C,0.823696,2.719808
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0.0,0,STON/O2. 3101282,7.9250,B96 B98,S,-0.391395,-0.644732

In [5]:
selection_feature = strategie_feature.StrategieSelectionFeature()
features = ['Pclass',
            'Sex',
            'Age',
            'Embarked',
            'Survived',
            'Fare']
processed = os.path.join(project_root, 'data', 'processed', 'titanic_processed.csv')
selection_feature.select_features(df, path=processed, features=features)